<div class="panel panel-default" data-ng-controller="TransformController">
  <div class="panel-heading">
    <span class="icon-transform"></span>
  </div>
  <div class="panel-body">
    <div class="btn-group">
      <button type="button" class="btn btn-default" data-ng-model="modelPicked" btn-checkbox>
        <span class="icon-rotate"></span>
      </button>
    </div>
    <div class="btn-group">
      <label class="btn btn-default" data-ng-model="transformMode" btn-radio="'move'">
        <span class="icon-move"></span>
      </label>
      <label class="btn btn-default" data-ng-model="transformMode" btn-radio="'rotate'">
        <span class="icon-rotate"></span>
      </label>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-default" data-ng-click="onOK()">
        <span class="icon-ok"></span>
      </button>
      <button type="button" class="btn btn-default" data-ng-click="onCancel()">
        <span class="icon-cancel"></span>
      </button>
    </div>
  </div>
  <div class="panel-footer">
    Ready
  </div>
</div>