html {
  height: 100%;
}
header {
  height: 40px;
}
body {
  font-family: 'Ubuntu Condensed', sans-serif;
  height: 100%;
}
section {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
section .row {
  margin-left: 0;
  margin-right: 0;
}
h3 {
  font-size: 18px;
  font-weight: normal;
}
label {
  font-weight: normal;
}
input[type="file"] {
  width: 38px !important;
  height: 34px !important;
  margin-top: -27px !important;
  margin-left: -10px !important;
}
.btn {
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border: none;
  padding: 5.5px 11px;
}
.btn:hover,
.btn:active,
.btn:focus {
  outline-style: none;
}
.glyphicon {
  font-size: 16px;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.ng-invalid.ng-dirty {
  border-color: #FA787E;
}
.ng-valid.ng-dirty {
  border-color: #78FA89;
}
nav[role=navigation] {
  float: left;
}
.navbar {
  min-height: 32px !important;
  margin-bottom: 0;
  background-color: #333333;
  background-image: none;
  border: none;
  box-shadow: 2px 2px 5px #000000;
}
.navbar > .container {
  width: 100%;
  padding: 0;
}
.navbar-toggle {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  margin: 0;
  padding: 6px 7px;
  border: none;
  border-radius: 0;
  display: inline-block;
}
.navbar-inverse .navbar-toggle,
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:active,
.navbar-inverse .navbar-toggle:focus {
  background-color: #E8373E;
}
.navbar-brand {
  font-family: 'Exo', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  position: absolute;
  top: 0;
  left: 38px;
  height: 40px;
  margin-left: 6px !important;
  padding: 6px;
  line-height: 1.5em;
}
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:active,
.navbar-inverse .navbar-brand:focus {
  color: #E8373E;
  background-color: #333333;
  text-shadow: 1px 1px 1px #000000;
}
.navbar-nav {
  margin: 0 0 0 168px;
}
@media (min-width: 400px) {
  .navbar-nav li {
    float: left;
  }
}
.navbar-nav li {
  background-color: transparent;
  display: inline;
}
.navbar-nav a {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  color: #ffffff !important;
  background-color: #000000 !important;
}
.navbar-nav a:hover,
.navbar-nav a:active,
.navbar-nav a:focus {
  color: #F58723 !important;
}
.navbar-right {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
}
.divider-vertical {
  height: 40px;
  width: 2px;
  background-color: transparent !important;
}
.dropdown-toggle {
  float: left;
}
.navbar-nav .dropdown-toggle:hover,
.navbar-nav .dropdown-toggle:active,
.navbar-nav .dropdown-toggle:focus {
  background-image: none !important;
  background-color: #F58723 !important;
  color: #ffffff !important;
}
.navbar-nav .dropdown-toggle span {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar-right .dropdown-toggle {
  float: right;
}
.dropdown-menu {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.dropdown-menu li {
  background-color: #ffffff;
  margin-left: 0 !important;
  width: 100%;
  float: none;
}
.dropdown-menu .divider {
  height: 1.1px;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #000000 !important;
}
.dropdown-menu a {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 14px;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  background: #ffffff !important;
  color: #333333 !important;
  text-transform: capitalize;
}
.dropdown-menu a:hover,
.dropdown-menu a:active,
.dropdown-menu a:focus {
  color: #ffffff !important;
  background-color: #333333 !important;
  background-image: none !important;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:active,
.dropdown-menu > .active > a:focus {
  color: #ffffff !important;
  background-color: #333333 !important;
  background-image: none !important;
}
.content {
  margin-top: 0;
  height: 100%;
}
.content .container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.modal-dialog {
  text-align: right;
}
@media (min-width: 400px) {
  .modal-dialog {
    margin-top: 200px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 300px !important;
  }
}
.modal-content {
  border-radius: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
}
.modal-header {
  margin-bottom: 5px;
  border-bottom-color: #9D9D9D;
  text-align: left;
}
.modal-header span {
  text-transform: uppercase;
}
.modal-header span:first-child {
  padding: 5px;
  background: #E8373E;
}
.modal-header span:last-child {
  padding-top: 5px;
  float: right;
}
.modal-body .input-group {
  margin-bottom: 10px;
}
.modal-body .input-group input {
  border-radius: 0;
  border: none;
}
.modal-body .input-group input[type=checkbox] {
  margin-right: 5px;
}
.modal-body .input-group .btn {
  padding-top: 7px;
  padding-bottom: 7px;
  border: none;
}
.modal-body .btn-group .btn {
  margin-right: 5px;
  background-image: none;
}
.modal-body .btn-group .btn:hover {
  color: #FFFFFF;
  text-shadow: none;
  background-color: #E8373E;
}
.modal-footer {
  border-radius: 0;
  border-top-color: #9D9D9D;
}
.progress-striped {
  position: absolute;
  bottom: 0;
  margin-left: -15px;
  margin-bottom: 0;
  width: 100%;
  background-color: transparent;
  background-image: none;
  border-radius: 0;
}
