.btn-group-vertical {
  position: absolute;
  height: 100%;
  background-color: #000000;
  z-index: 2;
}
.btn-group-vertical > .btn:first-child {
  margin-top: 42px
}
.btn-group-vertical .btn {
  padding: 8px 0;
  color: #9D9D9D;
  background-color: transparent;
  background-image: none;
  border: none;
  outline-style: none;
  box-shadow: none;
}
.btn-group-vertical .btn:hover,
.btn-group-vertical .btn:active,
.btn-group-vertical .btn:focus,
.btn-group-vertical .btn:active:focus {
  background-color: #F58723;
}
.btn-group-vertical .btn a {
  padding: 10px 11px;
}
.btn-group-vertical .btn span {
  color: #9D9D9D;
  text-shadow: none;
}
.btn-group-vertical .btn:hover span,
.btn-group-vertical .btn:active span,
.btn-group-vertical .btn:focus span,
.btn-group-vertical .btn:active:focus span {
  color: #000000;
}
.btn-group-vertical .btn.active {
  background-color: #F58723;
}
.btn-group-vertical .btn.active span {
  color: #000000;
}
.panel {
  position: absolute;
  margin-top: 0;
  margin-left: 38px;
  margin-bottom: 0;
  padding-top: 42px;
  width: 300px;
  height: 100% !important;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  overflow: auto;
  z-index: 2;
}
.panel-body > div:first-child {
  background-color: #80A1BC;
  margin-bottom: 10px;
}
.panel-body .btn {
  color: #FFFFFF;
  background-color: transparent;
  background-image: none;
  border: none;
  outline-style: none;
  box-shadow: none;
}
.panel-body .btn:hover,
.panel-body .btn:active,
.panel-body .btn:focus,
.panel-body .btn:active:focus {
  background-color: #F58723;
}
.panel-body .btn span {
  color: #FFFFFF;
  text-shadow: none;
}
.panel-body .btn:hover span,
.panel-body .btn:active span,
.panel-body .btn:focus span,
.panel-body .btn:active:focus span {
  color: #000000;
}
.list-group {
  box-shadow: none
}
.list-group > div {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  font-size: 0.9em;
  color: #FFFFFF;
  text-transform: uppercase;
  background-color: #333333
}
.list-group > div span:not(:first-child) {
  padding-left: 5px;
}
.list-group > div .checkbox-inline {
  margin-left: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 0;
  float: right;
}
.list-group-item {
  border: none;
  border-radius: 0 !important;
  padding: 0;
  background-color: transparent
}
.list-group-item > div {
  padding: 5px 10px 5px 20px;
  border: none;
  border-radius: 0;
  color: #ffffff
}
.list-group-item > div:hover {
  background-color: #327CCB
}
.list-group-item > div span:last-child {
  padding-left: 5px
}
.list-group-item > div a {
  float: right;
  margin-left: 5px;
  color: #9D9D9D;
  cursor: pointer
}
.list-group-item > div a:hover,
.list-group-item > div a:active,
.list-group-item > div a:focus {
  color: #ffffff
}
canvas {
  position: absolute;
}
