.btn-group-vertical {
  position: absolute;
  height: 100%;
  background-color: #000000;
}

.btn-group-vertical > .btn:first-child {
  margin-top: 42px;
}

.btn-group-vertical .btn {
  color: #9D9D9D;
  background-color: transparent;
  background-image: none;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.btn-group-vertical .btn:hover,
.btn-group-vertical .btn:active,
.btn-group-vertical .btn:focus,
.btn-group-vertical .btn:active:focus {
  color: #000000;
  background-color: #F58723;
  outline-style: none;
}

.btn-group-vertical i {
  text-shadow: none;
}

.panel { 
  position: absolute;
  margin-top: 0;
  margin-left: 38px;
  margin-bottom: 0;
  padding-top: 42px;  
  width: 200px;
  height: 100% !important;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
}

.nav-tabs li a {
  padding-top: 4px;
  padding-bottom: 5px;
  border: none;
  border-radius: 0 !important;
  color: #ffffff;
}

.nav-tabs li a:hover,
.nav-tabs li a:active,
.nav-tabs li a:focus {
  color: #ffffff;
  background-color: #327CCB;
}

.tab-content {
  padding-top: 10px;
}

.tab-pane .btn {
  color: #9D9D9D;
  background-color: transparent;
  background-image:none;
  text-shadow: none;
  box-shadow: none;
}

.tab-pane .btn:hover,
.tab-pane .btn:active,
.tab-pane .btn:focus {
  color: #ffffff;
  background-color: #327CCB;
}
