.DS_Store
.nodemonignore
.sass-cache/
.bower-*/
.idea/
app/tests/coverage/
node_modules/
data/db/
data/log/
parts/
users/
/plugins/inventor/admapi_18_0.chm
/plugins/inventor/*.chw
/plugins/inventor/dlldata.c
/plugins/inventor/ipch/visfutureaddin-44561d53/*.ipch
/plugins/inventor/*.aps
/plugins/inventor/visFutureAddIn.h
/plugins/inventor/visFutureAddIn.sdf
/plugins/inventor/visFutureAddIn.v12.suo
/plugins/inventor/visFutureAddIn_i.c
/plugins/inventor/visFutureAddIn_p.c
/plugins/inventor/x64/Debug
public/lib/
npm-debug.log
/*.bak
/*.sublime-project
/*.sublime-workspace

