.DS_Store
.nodemonignore
.sass-cache/
.bower-*/
.idea/
app/tests/coverage/
node_modules/


# Specifics
# =======
data/db/
data/log/
parts/
users/
plugins/inventor/admapi_18_0.chm
plugins/inventor/*.chw
plugins/inventor/dlldata.c
plugins/inventor/ipch/visfutureaddin-44561d53/*.ipch
plugins/inventor/*.aps
plugins/inventor/visPlayerAddIn.h
plugins/inventor/*.sdf
plugins/inventor/*.suo
plugins/inventor/visPlayerAddIn_i.c
plugins/inventor/visPlayerAddIn_p.c
plugins/inventor/x64/Debug/
plugins/forming/automation/uia_capscr/*.suo
plugins/forming/automation/uia_capscr/*.sdf
plugins/forming/automation/uia_capscr/*.opensdf
plugins/forming/automation/uia_capscr/x64/Debug/*.ilk
plugins/forming/automation/uia_capscr/x64/Debug/*.pdb
plugins/forming/automation/uia_capscr/x64/Release/*.pdb
plugins/forming/automation/uia_capscr/uia_capscr/*.user
plugins/forming/automation/uia_capscr/uia_capscr/x64/
public/lib/
npm-debug.log
*.bak
*.sublime-project
*.sublime-workspace
/plugins/inventor/*.opensdf
/plugins/inventor/*.vspscc
