@media (min-width: 992px) {
  .nav-users {
    position: fixed;
  }
}
.remove-account-container {
  display: inline-block;
  position: relative;
}
.btn-remove-account {
  top: 10px;
  right: 10px;
  position: absolute;
}
@media (min-width: 768px) {
  .well {
    padding: 80px 35% !important;
  }
}
.well {
  height: 100%;
  padding: 80px 0;
  margin-bottom: 0;
  color: #ffffff;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
  background-image: none;
  border: none;
  font-size: 16px !important;
  font-weight: normal;
}
.well img {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
}
