<div>
  <button data-ng-repeat="item in fileTools.items | orderBy: 'position'" data-ng-if="item.shouldRender(authentication.user);" type="button" class="btn btn-default" tooltip-placement="bottom" tooltip="{{item.tooltip}}" tooltip-append-to-body="true" data-ng-click="activateTool(item.action)">
    <span class="glyphicon {{item.icon}}"></span>
  </button>
</div>
<ul data-ng-repeat="item in fileTree.items" class="list-group">
  <div>
    <span class="glyphicon {{item.icon}}"></span>
    <span data-ng-bind="item.title"></span>
    <label class="checkbox-inline">
      <input type="checkbox" data-ng-model="item.checked" data-ng-click="checkAllFiles(item)" data-ng-disabled="disableCheckAll(item)">
    </label>
  </div>
  <li data-ng-repeat="subItem in item.items" class="list-group-item">
    <div>
      <input type="checkbox" data-ng-model="subItem.checked">
      <span class="glyphicon {{subItem.icon}}"></span>
      <span data-ng-bind="subItem.title"></span>
    </div>
  </li>
</ul>
