<section data-ng-controller="SlidesController">
    <div class="btn-group-vertical" role="group" aria-label="toolbar">
        <button type="button" class="btn btn-default">
            <i class="glyphicon glyphicon-user"></i>
        </button>
        <button type="button" class="btn btn-default">
            <i class="glyphicon glyphicon-user"></i>
        </button>
        <button type="button" class="btn btn-default">
            <i class="glyphicon glyphicon-user"></i>
        </button>
        <button type="button" class="btn btn-default">
            <i class="glyphicon glyphicon-user"></i>
        </button>
        <button type="button" class="btn btn-default">
            <i class="glyphicon glyphicon-user"></i>
        </button>
        <button type="button" class="btn btn-default">
            <i class="glyphicon glyphicon-user"></i>
        </button>
    </div>
</section>
