<section data-ng-controller="SlidesController">
  <div class="btn-group-vertical" role="group">
    <button data-ng-repeat="item in tool.items | orderBy: 'position'" data-ng-if="item.shouldRender(authentication.user);" ui-route="{{item.uiRoute}}" type="button" class="btn btn-default" dropdown="item.menuItemType === 'dropdown'">
      <a href="/#!/{{item.link}}">
        <span class="glyphicon {{item.icon}}"></span>
      </a>      
    </button>
  </div>
  <div class="panel panel-default">
    <div data-ui-view class="panel-body"></div>
  </div>
  <progressbar class="progress-striped active" value="ticker" type="success" data-ng-show="showTicker"><b>{{ticker}}%</b></progressbar>
  <div id="canvas"></div>
  <div id='upload' ng-show="false" ng-file-select ng-model="files" ng-multiple="true"></div>
</section>
